<div class="well">
    <div class="row">
        <br>
        <br>
        <center> 
            <h2>אודותינו:</h2>
            <img src="img/logo.png" name="aboutme" width="250" >
            <h2>מושבית - Moshavit</h2>
            <h2><b>פרויקט סיום</b> </h2>
       
        <span>
            מערכת "מושבית" באה להוות קשר בין ועד המושב 
            לבין חבריי ותושביי המושב,
            כאתר אינטרנט או כאפליקציה סלולארית,
            <br>
            המערכת אינה באה להחליף דרכיי התקשרות קיימים
            אלה לאפשר גישה נוחה יותר וזמינה יותר ולהוות קשר נוסף ומשלים בצורות ההתקשרות הקיימות במושב.
            <br>
            <br>

        </span>
       
            <h3><a target="_blank" href="http://moshavit.2fh.co">אתר מושבית</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="mailto:moshavit2014@gmail.com?subject=Moshavit">צור קשר</a> </h3>
            <br>
            <br>
            <small><small>
                    Copyright &#169; 2014 - 
                    <a href="mailto:erez83@gmail.com?subject=Moshavit" style="text-decoration: none;color:#333;">Erez Finder</a> 
                    &#38;
                    <a href="mailto:haimtzabar@gmail.com?subject=Moshavit" style="text-decoration:none;color:#333;">Haim Tzabar</a> 
                </small></small>
        </center>

    </div>
</div>
<div class='scroll-to-top' style='display: block;'>    <img src='img/ico/arrow-up.png' alt='לראש העמוד'></div>
<script>
    $(function() {
        handleGoTop();
    });
</script>