<div class="well">
    <h1>Camera</h1>
    <button onclick="getPicture();">צלם תמונה</button>
    <button onclick="vibrate(3000);">רטט</button>
    <button onclick="alert_moshavit('הודעת רקע');">התראה</button>
    <button onclick="confirm_moshavit('האם אתה בטוח כי תרצה לצאת?');">confirm_moshavit</button>
	
	</div>