<div class="well">
    <h1>Camera</h1>
    <button class="btn btn-success" onclick="getPicture();">צלם תמונה</button>  <br>
    <button class="btn btn-success" onclick="vibrate(3000);">רטט</button>       <br>
    <button class="btn btn-success" onclick="alert_moshavit('תוכן הודעה','נושא','לחצן');">התראה</button><br>
    <button class="btn btn-success" onclick="confirm_moshavit('תוכן הודעה','נושא','בטל,אשר');">confirm_moshavit</button><br>
	
	</div>
    