
<div class="navbar navbar-fixed-top " >
    <div class="navbar-inner" data-role="navbar" style="height: 55px ;">
        <div id="appNavBar" class="container">
            <!--<a style="float: left" class="hidden-desktop" href="#" onclick="javascript:navigator.app.clearHistory();$('#container').css({'margin-right': ''});"><img-->
            <a  class="hidden-desktop ui-btn-left" href="#" onclick="clean_main_container(); static_TemplateHBS('phone_menu','container');$('#container').css({'margin-right': ''});"><img
                src="img/ico/icon.png"
                style="max-height: 60px; max-width: 60px;"></a>
            <a style="cursor:pointer; " class="hidden-desktop ui-btn-right" onclick="confirm_moshavit_exit('האם ברצונך לצאת?','לצאת?','אשר,בטל');"><img
                src="img/ico/quit.png" style="max-height: 59px; max-width: 59px;padding-top: 1px;"></a>

            <p style="text-align: center"><span id='sessionUsername'>שלום</span></p>

            <div class="visible-desktop ">
                <ul class="nav nav-tab" id="desktopMenu">

                </ul>
                <script>
                    $('#desktopMenu li').click(function () {
                        $('#desktopMenu .active').removeClass('active');
                        $(this).addClass('active');
                    });
                </script>
            </div>
        </div>
    </div>
    <br class="visible-desktop ">
</div>


<div class="sidebar-nav col visible-desktop style="display: block;width:8em;">
<div class="well col-md-3" style="width:10em; padding: 8px 0; position:fixed;">
    <ul class="nav nav-pills nav-stacked" id="desktopMenu"> 
        <li class="active"><a href="#">ראשי</a></li>
        <li><a href="#" onclick="clean_main_container();dynamic_TemplateHBS('user_profile','container','');$('#container').css({'margin-right': '11em'});">פרופיל</a></li>
        <li><a href="#"  onclick="clean_main_container();dynamic_TemplateHBS('users','container','');$('#container').css({'margin-right': '11em'});">משתמשים</a></li>
        <li><a href="#" onclick="clean_main_container();static_TemplateHBS('new_msg','container');setTimeout(function(){$('#IdUser').val(CurrentSessionUser.IdUser).prop('readonly', true);},2000);$('#container').css({'margin-right': '11em'});">הודעה חדשה</a></li>
        <li><a href="#" onclick="clean_main_container();dynamic_TemplateHBS('messages','container','');$('#container').css({'margin-right': '11em'});">הודעות</a></li>
        <li><a href="#" onclick="clean_main_container();dynamic_TemplateHBS('babysitter','container','');$('#container').css({'margin-right': '11em'});">BabySitter</a></li>
        <li><a href="#" onclick="clean_main_container();dynamic_TemplateHBS('carpull','container','');$('#container').css({'margin-right': '11em'});">CarPull</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#"  onclick="clean_main_container();dynamic_TemplateHBS('survey','container','');$('#container').css({'margin-right': '11em'});">Survey</a></li>
        <li><a href="#">Calender</a></li>
        <li><a href="#"  onclick="clean_main_container();static_TemplateHBS('register','container');$('#container').css({'margin-right': '11em'});">משתמש חדש</a></li>
        <li><a href="#" onclick="clean_body();CurrentSessionUser={}; static_TemplateHBS('login','body');$('#container').css({'margin-right': '11em'});">יציאה</a></li>
    </ul>
	</div>
</div>
