
<div class="navbar navbar-fixed-top ">
    <div class="navbar-inner">
        <div id="appNavBar" class="container">
            <!--<a style="float: left" class="hidden-desktop" href="#" onclick="javascript:navigator.app.clearHistory();$('#container').css({'margin-right': ''});"><img-->
            <a style="float: left" class="hidden-desktop" href="#" onclick="clean_main_container(); static_TemplateHBS('phone_menu','container');$('#container').css({'margin-right': ''});"><img
                src="/res/icon/android/icon-96-xhdpi.png"
                style="max-height: 48px; max-width: 48px;"></a>
            <a style="cursor:pointer; float: right" class="hidden-desktop" onclick="confirm_moshavit_exit('האם ברצונך לצאת?','לצאת?','אשר,בטל');"><img
                src="http://cdn1.iconfinder.com/data/icons/gis/quit.png" style="height: 48px; width: 48px;"></a>

            <p style="text-align: center"><span id='sessionUsername'>שלום</span></p>

            <div class="visible-desktop ">
                <ul class="nav nav-tab" id="desktopMenu">

                </ul>
                <script>
                    $('#desktopMenu li').click(function () {
                        $('#desktopMenu .active').removeClass('active');
                        $(this).addClass('active');
                    });
                </script>
            </div>
        </div>
    </div>
    <br class="visible-desktop ">
</div>


<div class="sidebar-nav col visible-desktop style="display: block;width:8em;">
<div class="well col-md-3" style="width:10em; padding: 8px 0; position:fixed;">
    <ul class="nav nav-pills nav-stacked"> 
        <li class="active"><a href="#">ראשי</a></li>
        <li><a href="#" onclick="clean_main_container();dynamic_TemplateHBS('user_profile',get_all_users+CurrentSessionUser.IdUser,'container');$('#container').css({'margin-right': '11em'});">פרופיל</a></li>
        <li><a href="#"  onclick="clean_main_container();dynamic_TemplateHBS('users',get_all_users,'container');$('#container').css({'margin-right': '11em'});">משתמשים</a></li>
        <li><a href="#" onclick="clean_main_container();static_TemplateHBS('new_msg','container');setTimeout(function(){$('#email').val(CurrentSessionUser.Email).prop('readonly', true);},2000);$('#container').css({'margin-right': '11em'});">הודעה חדשה</a></li>
        <li><a href="#" onclick="clean_main_container();dynamic_TemplateHBS('messages',get_all_users,'container');$('#container').css({'margin-right': '11em'});">הודעות</a></li>
        <li><a href="#" onclick="clean_main_container();dynamic_TemplateHBS('babysiter',get_all_users,'container');$('#container').css({'margin-right': '11em'});">BabySiter</a></li>
        <li><a href="#" onclick="clean_main_container();dynamic_TemplateHBS('carpull',get_all_users,'container');$('#container').css({'margin-right': '11em'});">CarPull</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#"  onclick="clean_main_container();dynamic_TemplateHBS('survey',get_all_users,'container');$('#container').css({'margin-right': '11em'});">Survey</a></li>
        <li><a href="#">Calender</a></li>
        <li><a href="#"  onclick="clean_main_container();static_TemplateHBS('register','container');$('#container').css({'margin-right': '11em'});">משתמש חדש</a></li>
        <li><a href="#" onclick="clean_main_container();static_TemplateHBS('new_msg','container');setTimeout(function(){$('#email').val(CurrentSessionUser.Email).prop('readonly', true);},2000);$('#container').css({'margin-right': '11em'});">הודעה חדשה</a></li>
        <li><a href="#" onclick="clean_body();CurrentSessionUser={}; static_TemplateHBS('login','body');$('#container').css({'margin-right': '11em'});">יציאה</a></li>
    </ul>
	</div>
</div>
