<div class="loader_css" id="loader_css" >  
    <div class="ring_loader_css blue_loader_css"></div>
    <div id="content_loader_css_loader">
        <span style="font-size: large;">טוען...</span>
    </div>
        </div>