<br>
<br>
<br>
<div class="well" id="container" style="margin-right: 0em !important;">
    <img src="img/logo.png" style="max-height: 150px; max-width: 150px;display: block;    margin-left: auto;    margin-right: auto;" ><br><br>
    <div class="input-prepend">
        <label for="email">דוא"ל</label>
        <input id="email" type="email" class="email" value="" required="required" style="width: 100%;"  maxlength="100">
    </div>
    <div class="input-prepend">
        <label for="password">סיסמה</label>
        <input id="password" type="password" class="password" value="" required="required" style="width: 100%;"  maxlength="16">
    </div>
    <div style="text-align: center">
        <button class="btn-large btn-block btn-success" onclick="$('#container').css('display', 'none');login(stringifyUserJSON());">הכנס</button>
        <br>
        <button class="btn btn-warning" onclick="clear_form();">נקה</button>
        <br><b id="invalidPassword"></b><br><br>

        <button class="new_user btn btn-warning" onclick="clean_body();add_containers_to_body();static_TemplateHBS('register','container');">משתמש חדש ?</button>
        <button class="forgetPasswordButton btn btn-warning" onclick="forgotPassword();">שכחת סיסמה?</button>
        <br>
    </div>
    <br>
</div>
<script type="text/javascript">
    $("#email").focus();
    var stringifyUserJSON = function () {
        return JSON.stringify({
            Email: $('#email').val(),
            Password: $('#password').val()
        })
    };
    var clear_form = function () {
        $('#email').val('');
        $('#password').val('');
        $("#email").focus();
    };
    $('#password').on('keyup', function(e) {
        if (e.which == 13) {
            login(stringifyUserJSON());
        }
    });
    $('#email').on('keyup', function(e) {
        if (e.which == 13) {
            $("#password").focus();
        }
    });

    var login = function (login_details) {
        if($('#email').val()==='' || $('#password').val()==='') {
            try {alert_moshavit('חסרים נתונים עבור הכניסה','הודעת מערכת','אישור');}catch(err){alert('חסרים נתונים עבור הכניסה');}
        }
        else{
            $('#container').css("display", "none");
            loading_it('show');
            $.ajax({
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                url: base_url+"login/",
                data: login_details,
                success: function (data) {
                    if (Debug_mode) {
                        console.log(login_details);
                        console.log(data);
                    }
                    CurrentSessionUser = data;
                    $.get(base_url+"user/", function (data) { Users=data;}); 
                    $.get(base_url+"BabySitter/", function (data) { BabySitter=data; }); 
                    $.get(base_url+"carpull/", function (data) { CarPull=data; }); 
                    $.get(base_url+"bulletinboard/", function (data) { BulletinBoard=data; }); 
                    $.get(base_url+"Survey/", function (data) { Survey=data; }); 
                    $.get(base_url+"GiveAndTake/", function (data) { GiveAndTake=data; }); 
                    main_screen();
                    setCookie("Email", CurrentSessionUser.Email);
                    setTimeout(function(){$('#sessionUsername').text('שלום '+CurrentSessionUser.FirstName+" "+CurrentSessionUser.LastName);},1000);
                },
                error: function (xhr, errorType, thrownError) {
                    if (Debug_mode) {console.log(xhr);}
                    switch (xhr.status) {
                        case 404:
                            try {alert_moshavit('404','הודעת מערכת','אישור');}catch(err){alert('404');}
                            break;
                        case 400:
                            try {alert_moshavit('שם משתמש או סיסמה לא נכונים','הודעת מערכת','אישור');}catch(err){alert('שם משתמש או סיסמה לא נכונים');}
                            loading_it('hide');
                            $('#container').css("display", "block");
                            $('#password').val('');
                            $("#password").focus();
                            break;
                    }
                }
            });
        }
    };

    var forgotPassword =function(){
        if($('#email').val()==='' ) {
            try {alert_moshavit("לצורך שיחזור סיסמה אנא הכנס דוא'ל",'הודעת מערכת','אישור');}catch(err){alert("לצורך שיחזור סיסמה אנא הכנס דוא'ל");}
            $("#email").focus();
        }
        else{
            var email=JSON.stringify({Email: $('#email').val()        });
            $('#container').css("display", "none");
            loading_it('show');
            $.ajax({
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                url: base_url+"forgotpassword",
                data:  email,
                success: function (data) {
                    try {alert_moshavit("אנא בדוק כי קבלת דוא'ל שכולל את הסיסמה והתחבר שוב",'הודעת מערכת','אישור');}catch(err){alert("אנא בדוק כי קבלת דוא'ל שכולל את הסיסמה והתחבר שוב");}
                    loading_it('hide');
                    $('#container').css("display", "block");
                    $('#password').val('');
                    $("#password").focus();
                },
                error: function (xhr, errorType, thrownError) {
                    if (Debug_mode) {console.log(xhr);}
                    switch (xhr.status) {
                        case 404:
                            try {alert_moshavit('404','הודעת מערכת','אישור');}catch(err){alert('404');}
                            break;
                        case 400:
                            try {alert_moshavit("דוא'ל או סיסמה לא נכונים",'הודעת מערכת','אישור');}catch(err){alert("דוא'ל או סיסמה לא נכונים");}
                            loading_it('hide');
                            $('#container').css("display", "block");
                            $('#email').val('');
                            $("#email").focus();
                            break;
                        case 500:
                            try {alert_moshavit("דוא'ל לא תקין",'הודעת מערכת','אישור');}catch(err){alert("דוא'ל לא תקין");}
                            loading_it('hide');
                            $('#container').css("display", "block");
                            $('#email').val('');
                            $("#email").focus();
                            break;
                        case 200:
                            try {alert_moshavit("אנא בדוק כי קבלת דוא'ל שכולל את הסיסמה והתחבר שוב",'הודעת מערכת','אישור');}catch(err){alert("אנא בדוק כי קבלת דוא'ל שכולל את הסיסמה והתחבר שוב");}
                            loading_it('hide');
                            $('#container').css("display", "block");
                            $('#password').val('');
                            $("#password").focus();
                            break;
                    }
                }
            }); 
        }
    }
</script>



