
<div class="well " id="Form">

    <input type="text" id="IdMessage" value="0" style="display:none;width: 1%;">
    <input type="text" id="IdUser" value="1" style="display:none;width: 1%;">
    <input type="text" id="Name" value="admin" style="display:none;width: 1%;">
    <input type="text" id="Phone" value="0000" style="display:none;width: 1%;">

    <div class="input-prepend">
        <label for="Title">נושא</label>
        <input type="text" id="Title" value="" placeholder="הכנס נושא" required="required" style="width: 100%;">
    </div>
    <div class="input-prepend">
        <label for="Description">תאור</label>
        <input type="text" id="Description" value="" placeholder="הכנס תאור" required="required" style="width: 100%;">
    </div>
    <div class="input-prepend">
        <label for="Content">תוכן</label>
        <input type="text" id="Content" value="" placeholder="הכנס תוכן" required="required" style="width: 100%;">
    </div>
    <div class="input-prepend">
        <label for="Details">פרטים</label>
        <textarea type="text" id="Details" value="" placeholder="הכנס פרטיי מודעה חדשה ..." required="required" style="width: 100%;height: 150px;"></textarea>
    </div>

    <button class="btn-large btn-block register btn-success" onclick="register(stringifyUserJSON());">שמור</button>
    <br>
    <button class="btn clear btn-warning" onclick="clear_form();"><i class="icon-remove icon-white"></i>נקה</button>
</div>

//$.post("http://moshavit.somee.com/api/"+"login", {Email:"admin",Password:"admin"}, function(data) {});

<script type="text/javascript">
    $("#Title").focus();
    var stringifyUserJSON = function () {
        tjson={
            "Description": $('#Description').val(),
            "Content": $('#Content').val(),
            "Title": $('#Title').val(),
            "Phone": $('#Phone').val(),
            "Details": $('#Details').val(),
            "Name": $('#Name').val(),
            "IdUser": $('#IdUser').val(),
            "Title": $('#Title').val()
        };
        if($('#IdMessage').val()>0) tjson["IdMessage"]=$('#IdMessage').val();
        return JSON.stringify(tjson)
    };
    var clear_form = function () {
        $('#Description').val('');
        $('#Content').val('');
        $('#Title').val('');
        $('#Details').val('');

        $("#Title").focus();
    };

    var register = function (register_details) {
        var PP= ($('#IdMessage').val()!=0?'PUT':'POST');
        $.ajax({
            type: PP,
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            url: "http://moshavit.somee.com/api/bulletinboard",
            data: register_details,
            success: function (data) {
                // Do something....
                if (Debug_mode) {console.log(register_details);}
            },
            error: function (xhr, errorType, thrownError) {
                if (Debug_mode) {console.log(xhr);}
                switch (xhr.status) {
                    case 404:
                        alert("404");
                        break;
                    case 400:
                        alert(xhr.responseText);
                        break;
                    case 500:
                        alert("חלק מהפרטים חסרים או לא תקינים"); 
                        break;
                    case 200:
                        alert("ההודעה נוספה בהצלחה");
                        main_screen();
                        update_data("bulletinboard");
                        if (Debug_mode) {console.log(register_details);}
                        break;
                }
            }
        });
    };
</script>




























