<div class="phone_menu" style="text-align: center;">

    <div class="row hidden-desktop">
        <div class="span12">
            <a href="#" onclick="dynamic_t('user_profile');"><img src="img/ico/1.png" style="max-height: 31%; max-width: 31%;" ></a>
            <a href="#" onclick="dynamic_t('users');"> <img src="img/ico/2.png"  style="max-height: 31%; max-width: 31%;"></a>
            <a href="#" onclick="dynamic_t('messages');"><img src="img/ico/7.png" style="max-height: 31%; max-width: 31%;"></a>
            <a href="#" onclick="dynamic_t('survey');"><img src="img/ico/5.png" style="max-height: 31%; max-width: 31%;"></a>
            <a href="#" onclick="dynamic_t('babysitter');"><img src="img/ico/3.png" style="max-height: 31%; max-width: 31%;"></a>
            <a href="#" onclick="dynamic_t('carpull');"><img src="img/ico/4.png" style="max-height: 31%; max-width: 31%;"></a>
            <a href="#" onclick="dynamic_t('giveandtake');"><img src="img/ico/10.png" style="max-height: 31%; max-width: 31%;"></a>
            
            <a href="#" onclick=""><img src="img/ico/6.png" style="max-height: 31%; max-width: 31%;"></a>
            <a href="#" onclick="alert('השרות תחת פיתוח');"><img src="img/ico/9.png" style="max-height: 31%; max-width: 31%;"></a>
            <a href="#" onclick="alert('השרות תחת פיתוח');dynamic_t('invoice');"><img src="img/ico/8.png" style="max-height: 31%; max-width: 31%;"></a>
            
            

<!--            <a href="#" onclick="//new_msg();"><img src="http://c.dryicons.com/images/icon_sets/grey_moonlight_icons/png/128x128/news.png" style="max-height: 100px; max-width: 100px;" ></a>-->
            <br>
            <br>
            <a href="#" class="btn login" onclick="login();">Logout</a>
            <a href="#" class="btn newuser" onclick="register();">New User</a>
            <a href="#" class="btn" onclick="phonegap();">PhoneGap</a>

        </div>
    </div>
</div>
<script>
    var dynamic_t =function(name){
        clean_main_container();
        dynamic_TemplateHBS(name,'container','');
        $('#container').css({'margin-right': ''});

    }

//    var new_msg =function(){
//        clean_main_container();
//        static_TemplateHBS('new_msg','container');
//        setTimeout(function(){$('#IdUser').val(CurrentSessionUser.IdUser).prop('readonly', true);},2000);
//        $('#container').css({'margin-right': ''});
//    }
    var  phonegap=function(){
        clean_main_container();
        static_TemplateHBS('phonegap','container');
        $('#container').css({'margin-right': ''});
    }
    var  register=function(){
        clean_main_container();
        static_TemplateHBS('register','container');
        $('#container').css({'margin-right': ''});
    }
    var login =function(){
        clean_body();
        CurrentSessionUser={};
        static_TemplateHBS('login','body');
        $('#container').css({'margin-right': ''});
    }
</script>
