
    <br/>

<div class="well " id="Form">

    <!-- E-mail -->
    <div class="input-prepend">
        <label for="email">דוא"ל</label>
        <input type="email" id="email" value="" placeholder="Email" required="required">
    </div>
    <!-- First Name -->
    <div class="input-prepend">
        <label for="firstName">שם פרטי</label>
        <input type="text" id="firstName" value="" placeholder="First name" required="required">
    </div>
    <!-- Last Name -->
    <div class="input-prepend">
        <label for="lastName">שם משפחה</label>
        <input type="text" id="lastName" value="" placeholder="Last name" required="required">
    </div>
    <!-- Address -->
    <div class="input-prepend">
        <label for="Address">כתובת</label>
        <input type="text" id="address" value="" placeholder="Address" required="required">
    </div>
    <!-- Phone -->
    <div class="input-prepend">
        <label for="Phone">טלפון</label>
        <input type="text" id="phone" value="" placeholder="Phone" required="required">
    </div>

    <div class="input-prepend">
        <label for="password">סיסמה</label>
        <input id="password" type="password" class="password" value="" required="required">
    </div>
    <div class="input-prepend">
        <label for="passwordConfirm">סיסמה שנית</label>
        <input id="passwordConfirm" type="password" class="passwordConfirm" value="" required="required">
    </div>
    <button class="btn register btn-success" onclick="register(stringifyUserJSON());">הירשם</button>
    <button class="btn clear btn-warning" onclick="clear_form();"><i class="icon-remove icon-white"></i>נקה</button>
</div>

<script type="text/javascript">
    $("#email").focus();
    var stringifyUserJSON = function () {
        return JSON.stringify({
            FirstName: $('#firstName').val(),
            LastName: $('#lastName').val(),
            Email: $('#email').val(),
            Address: $('#address').val(),
            Phone: $('#phone').val(),
            Email: $('#email').val(),
            Password: $('#password').val()
        })
    };
    var clear_form = function () {

        $('#firstName').val('');
        $('#lastName').val('');
        $('#email').val('');
        $('#address').val('');
        $('#phone').val('');
        $('#email').val('');
        $('#password').val('');
        $("#email").focus();

    };

    var register = function (register_details) {
        $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            url: register_api,
            data: register_details,
            success: function (data) {
                // Do something....
                if (Debug_mode) {console.log(register_details);}
                alert("הרישום בוצע בהצלחה,\nהנך מועבר למערכת");
                CurrentSessionUser = register_details;
                clean_body();
                add_containers_to_body();
                static_TemplateHBS('desktop_menu', 'container-head');
                static_TemplateHBS("phone_menu", 'container');
            },
            error: function (xhr, errorType, thrownError) {
                if (Debug_mode) {console.log(xhr);}
                switch (xhr.status) {
                    case 404:
                        alert("404");
                        break;
                    case 400:
                        alert(xhr.responseText);
                        break;
                    case 500:
                        alert("חלק מהפרטים חסרים או לא תקינים"); 
                        break;
                    case 200:
                        alert("הרישום בוצע בהצלחה,\nהנך מועבר למערכת");
                        if (Debug_mode) {console.log(register_details);}
                        CurrentSessionUser = register_details;
                        clean_body();
                        add_containers_to_body();
                        static_TemplateHBS('desktop_menu', 'container-head');
                        static_TemplateHBS("phone_menu", 'container');
                        setTimeout(function(){$('#sessionUsername').text('שלום '+CurrentSessionUser.FirstName)},3000);
                        break;
                }
            }
        });
    };
</script>



